*{
    padding: 0;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#video {
    object-fit: cover;
    height:100vh;
    position: fixed;
    width: 100vw;
    z-index: -1;
}
main {
    background-color: rgba(21, 180, 82, 0.37);
    margin-top: 10vh;
}

navbar {
    display: flex;
    background-color:rgb(93, 124, 85);
    justify-content: space-around;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.articletitle {
    font-weight: 300;
    color: white;
    font-size: 40px;
}

article {
    color: white;
}

.links a {
    margin-right: 2vw;
    color: white;
    text-decoration: none;
}

.icon {
    background: url(images/sprites.png);
    width: 65px;
    height: 65px;
    display: inline-block;
}
footer{
    position: fixed;
    text-align: center;
    bottom: 0vw;
    background-color:rgb(93, 124, 85);
    width: 100vw;
    display: block;
    margin-top: 55vh;
}

#pinterest {
    background-position: -590px -70px;
}
#twitter {
    background-position: -440px -220px;
}
#floptok {
    background-position: -140px -220px;
}
#skibidisource {
    background-position: -290px -220px;
}

@media screen and (max-width: 600px){
    navbar{
        position: relative;
        background-color: darkolivegreen;
    }

    .title{
        background-color: olivedrab;
        padding: 1vw;
        color: white;
    }

    .links{
        display: none;
        z-index: 1;
        position: absolute;
        background-color: olive;
        box-shadow: grey;
        min-width: 100vw;
    }

    .links a{
        color: white;
        padding-top: 1vh;
        padding-bottom: 1vh;
        display: inline-block;
    }

    .links a:hover{background-color: olivedrab;}
    navbar:hover .links {display: block; transition: .10s;}
    navbar:hover .title {background-color: purple; transition: .10s;}
}